
<div class="container" style="background-color: rgb(189, 247, 244);
padding:10px 10px;width:30%;float:center; border: 3px solid #000000;" >
    <form action="" [target]="'_blank'">
      <div class="form-group" >
    <b>Enter Email :</b> <input type="email" name="usernamelogin" class="form-control">
    </div>
    <div class="form-group">
      <b>Enter Username :</b> <input type="text" name="usernamelogin" class="form-control">
      </div>
    <div class="form-group">
        <b>Enter Password :</b> <input type="password" name="usernamelogin" class="form-control">
        </div>
    <div class="form-group">
            <b>Re-enter password :</b> <input type="password" name="usernamelogin" class="form-control">
            </div>
     <button type="submit">SUBMIT</button>
     <button type="reset">RESET</button>
  </form>
  </div>
 
